body{
	background-image:url("../img/teaParty.png");
	background-repeat: no-repeat;
}

#runner{
	background-color: rgba(228,201,206,.65);
	width: 620px;
	height: 854px;
}

.logo{
	padding: 0;
	margin: 0;
}

#nav{}

#nav ul{}

#nav ul li{
	list-style: none;
	/*background-color: rgb(139,35,17);*/
	background-color: rgb(77,27,78);
	padding: 10px;
	margin: 10px;
	font-family: "Bodoni Std";
	color: white;
	text-align: center;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: bold;
}

#nav ul li:hover{
	background-color: rgb(139,35,17);
}

a{
	color: white;
}

a:hover{
	color: white;
	text-decoration: none;
}